* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
	padding: 20px 20px 20px 0;
	text-align: right;
}

.header ul {
	list-style-type: none;
}

.header li {
	display: inline;
	padding-left: 20px;
}

.menu {
	border: 2px solid;
	padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
	margin-bottom: 7px;
}

.menu li:visited {
	color: #bcc5ca
}

.content {
	padding: 15px;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:hover {
	font-weight: bold;
}

a:visited {
	color: #b2b9bd;
}

a:active {
	color: red;
	background-color: yellow;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}